html {
  font-size: 62.5%;
}

.wrapper {
}
.container {
  background-color: gray;
  border-radius: 1rem;
  width: 89%;
  margin: auto;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3.4rem;
}

p {
  font-size: 1.6rem;
}

/* .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  } */
